@font-face {
    font-family: myFont;
    src: url("../font/XiaolaiMonoSC-Regular.ttf");
}
body{font-family: myFont}
div{font-family: myFont}
#nav{
    height: 600px;
    width: 100%;
    overflow-y: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}